div#dock {
	display: inline;
}

/* Put a margin on the body if the dock is shown */

/*
Docking Module
---------------*/
#dock {
    left: 2px;
	width: 38px;
    min-width: 28px;
    position: fixed;
    top: 117px;
	z-index: 999;
    }
#dock.nothingdocked {
visibility: hidden;
display:none;
}
#dock .controls {
bottom: auto;
background: #eaeaea;
position: relative;
width: 100%;
border-bottom: 1px solid #eaeaea;
top: -1px;
position: absolute;
left: -1px;
border-right: 1px solid #eaeaea;
	
	
    /* -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px; */
}
#dock .dockeditem.firstdockitem {
    margin-top: 21px;
    /* -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px; */
}
#dock .dockeditem {

}
#dock .dockedtitle {
    padding-bottom: 5px;
    cursor:pointer;
	background: #009999;
	padding-left: 3px !important;
}
 #dock .dockedtitle h2 {
    margin: 0;
    padding: 10px 3px ;
    color: #fff;
	font-weight: normal;
	font-size: 14px !important;
}
.dockedtitle.activeitem h2 {
    color: #fff !important;
}
#dock .dockedtitle.activeitem {
    /* border-right: 5px solid #007777;
    /* -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px; */
}
#dock .controls img {
    cursor:pointer;
    margin-left: 13px;
}
/*
Docked Item Panel
-----------------------*/
#dockeditempanel {

    position: relative;
    z-index: 12000;
    left: 100%;
}
div.dockeditem_container{

}
.dockeditem{
	
}
#dock_item_10{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_9{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_8{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_7{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_6{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_5{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_4{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_3{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_2{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_1{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}
#dock_item_0{
background: #009999;
padding: 15px 0px;
margin: 1px 0px 0px -1px;
}

#dockeditempanel.dockitempanel_hidden {
    display:none;
}
#dockeditempanel .dockeditempanel_content {
margin: 0 3px;
position: relative;
border: 1px solid #ccc;
width: 280px;
top: -14px;
left: -2px;
border-bottom-right-radius: 30px;
-moz-box-shadow: 1px 1px 1px #eaeaea;
-webkit-box-shadow: 1px 1px 1px #eaeaea;
box-shadow: 1px 1px 1px #eaeaea;
}
#dockeditempanel .dockeditempanel_hd {
    border-width: 0;
	background: #eaeaea;
}
#dockeditem .dockeditempanel_bd .block_docked {
    margin:10px;
	background: #fff;
}
#dockeditempanel .dockeditempanel_bd ul{
	list-style-type: none;
}
#dockeditempanel .block_calendar_month.block_docked {
    text-align: center;
}
#dockeditempanel .dockeditempanel_hd {
    border-bottom:1px solid #aaa;
    text-align: right;
}
#dockeditempanel .dockeditempanel_hd h2 {
display: inline;
margin: 0;
color: #fff;
padding: 10px;
width: 93%;
float: left;
text-align: left;
background: #59379e;
font-size: 14px;
font-weight: normal;
}
#dockeditempanel .dockeditempanel_hd .commands {
    display:inline;
}
#dockeditempanel .dockeditempanel_hd .commands img {
    margin: 6px;
    vertical-align: middle;
}
#dockeditempanel .dockeditempanel_bd {
    overflow:auto;
    width:auto; /* adds scroll to dock panel */
	background: #fff;
	padding: 10px;
	border-bottom-right-radius: 30px;
}
input#adminsearchquery{
		width: 60%;
}